<!DOCTYPE html>
<!-- https://css-tricks.com/abusing-customizable-selects/ -->
{% extends 'Lingvistik_app/basis.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="px-4">
       <div class="row">  <!-- Navigation header start -->
            <div class="col-12">
                <nav class="navbar navbar-expand-lg beige">
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bold merriweather" href="#">Content</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <div class="pr-1">
                                <li class="nav-item antiquewhite border border-3 border-dark rounded-4 rounded-bottom-0 rounded-start-0">
                                    <a class="nav-link text-black roboto fs-6 fw-bold px-3" aria-current="page" href="{% url 'index' %}">Sentence with lemma</span></a>
                                </li>
                                </div>
                                <div class="px-1">  
                                    <li class="nav-item green border border-3 border-dark rounded-4 rounded-bottom-0 rounded-start-0">
                                        <a class="nav-link active text-black  roboto fs-6 fw-bold px-3" href="{% url 'prevfollow' %}"><span class="text-white">Previous, sentence and following sentences added</span> </a>
                                    </li>
                                </div>
                                <div class="px-1">
                                    <li class="nav-item antiquewhite border border-3 border-dark rounded-4 rounded-bottom-0 rounded-start-0">
                                        <a class="nav-link text-black roboto fs-6 fw-bold px-3" href="{% url 'treesentences' %}">Tree sentences together</a>
                                    </li>
                                </div>
                        </div>
                    </div>
                </nav>
            </div>    
        </div>  <!-- Navigation header end -->
        <div class="row"> <!-- page title  -->
            <div class="col-12 fs-3 fw-semibold text-left merriweather pb-2">
                GRAMMA
            </div>
        </div>  <!-- end page title  -->
        <div class="row">
            <div class="col-12">

                <img class="img-fluid" src="data:image/png;base64,{{ lemma_sentence }}" />
            </div>
        </div>
    </div>
</div>  
{% endblock content %}
